<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FAVQS Rest API" parallel="classes" thread-count="3">
<listeners>
<listener class-name="com.favqs.listeners.TestListener"/>
<listener class-name="com.favqs.listeners.RetryListener"/>
</listeners>
<test name="FAVQS Test">
<classes>
<class name="com.favqs.tests.UsersTest"/>
<class name="com.favqs.tests.QuotesTest"/>
<class name="com.favqs.tests.ActivityTest"/>
</classes>
</test>
</suite>
<!-- Suite -->