<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FAVQS Rest API">
<listeners>
<listener class-name="com.favqs.listeners.TestListener"/>
</listeners>
<test name="FAVQS Test">
<classes>
<class name="com.favqs.tests.UsersTest"/>
<class name="com.favqs.tests.QuotesTest"/>
<!--methods>
<include name="getOrganizationOfAnActionTest"/>
</methods!-->

</classes>
</test>
</suite>
<!-- Suite -->